*
!.zshrc
!fastfetch.jsonc
!manjaro-zsh-config
!.oh-my-zsh/**
!.oh-my-zsh/
!README.md
!.gitignore
!example.png
!.config/
!.config/eza/
!.config/eza/theme.yml
!.config/php-cs-fixer/
!.config/php-cs-fixer/**
!fzf-preview.sh
