*
!.zshrc
!.zprofile
!README.md
!.gitignore
!example.png
!.config/
!.config/zsh-config/
!.config/zsh-config/**
!.config/fzf/
!.config/fzf/**
!.config/fastfetch/
!.config/fastfetch/**
!.config/eza/
!.config/eza/**
!.config/composer/
!.config/composer/*
.config/composer/composer.lock
!.config/php-cs-fixer/
!.config/php-cs-fixer/**
