*
!.zshrc
!.zprofile
!README.md
!.gitignore
!example.png
!.p10k.zsh
!.oh-my-zsh/**
!.oh-my-zsh/
!.config/
!.config/fzf/
!.config/fzf/**
!.config/fastfetch/
!.config/fastfetch/**
!.config/eza/
!.config/eza/**
!.config/composer/
!.config/composer/*
!.config/php-cs-fixer/
!.config/php-cs-fixer/**
!powerlevel10k/
!powerlevel10k/**
